<a href="https://colab.research.google.com/github/VU21CSEN0100182/python-new/blob/module-2/MODULE2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr
def nCr(a,b):
  return(fact(a)/(fact(b)*fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
  res=1
  for i in range(2,a+1):
    res=res*1
  return res
print(int(nCr(a,b)))

5
2
1

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
colour_list=['Red','Green','White','Black','Pink','Yellow']
del colour_list[0]
del colour_list[3]
del colour_list[3]
print(colour_list)

['Green', 'White', 'Black']

In [ ]:
#Program to get the difference between the two lists.
num_list=[1,4,3,9,5,4,1,3]
sum_list=[4,5,2,5,9,7,6]
a=set(num_list)
b=set(sum_list)
c1=a.difference(b)
c2=b.difference(a)
print(list(c1))
print(list(c2))

[1, 3]
[2, 6, 7]

In [ ]:
#Program to find the second smallest number and second largest number in a list.
a_list=[5,78,35,96,1,256,182,3]
a_list.sort()
print(a_list)
print("The second smallest number in the given list is: ",a_list[1])
print("The second largest number in the given list is: ",a_list[len(a_list)-2])

[1, 3, 5, 35, 78, 96, 182, 256]
The second smallest number in the given list is:  3
The second largest number in the given list is:  182

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples having first element as
#the number and second element as the square of the number.
p_list=[4,99,7,55,22,9]
result=[(x,x**2) for x in p_list]
print("The required list is: ",result)

The required list is:  [(4, 16), (99, 9801), (7, 49), (55, 3025), (22, 484), (9, 81)]

In [ ]:
#Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
num_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
sum_list=[]
K=2
for x in num_list:
 if len(x)!=K:
   sum_list.append(x)
print("The filtered list without containing any element of tupple length '2' is:",sum_list)

The filtered list without containing any element of tupple length '2' is: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
#Program to generate and print a dictionary that contains a number (between 1and n) in the form (x, x*x).
#Sample Input: (n=5) :
#Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
a_dictionary=dict()
x=int(input("Enter a number:"))
for i in range(1,x+1):
 a_dictionary.update({i:i**2})
print("The obtained dictionary is:",a_dictionary)

Enter a number:5
The obtained dictionary is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Program to remove a key from a dictionary
chocolate={
    'name':'munch',
    'colour':'brown',
    'taste':'sweet',
    'cost':'30'
}
chocolate.pop('taste')
print(chocolate)
del chocolate['cost']
print(chocolate)

{'name': 'munch', 'colour': 'brown', 'cost': '30'}
{'name': 'munch', 'colour': 'brown'}

In [ ]:
#Program to get the maximum and minimum value in a dictionary
a_dictionary={
 'a':45, 'b':75, 'c':38, 'd':24
 }
max_value=max(a_dictionary, key=a_dictionary.get)
min_value=min(a_dictionary, key=a_dictionary.get)
print("The maximum value in the given dictionary has a key:'"+max_value+"' and its value is:",a_dictionary[max_value])
print("The minimum value in the given dictionary has a key:'"+min_value+"' and its value is:",a_dictionary[min_value])

The maximum value in the given dictionary has a key:'b' and its value is: 75
The minimum value in the given dictionary has a key:'d' and its value is: 24

In [ ]:
#Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations
string=input("enter a string: ")
print(string.split())
print(string[4:19])
enter a string: python is the easiest programming language and it is a backend language

SyntaxError: ignored

In [ ]:
# Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.For ex -.In Rabbit count how many times b has occurred .
#Example-I have to go to a doctor and get myself checked. Count the number of occXrrences of to¶.
str_1="rabbit"
print(str_1.count('b'))
str_2="I have to go to a doctor and get myself checked."
print(str_2.count('to'))

2
3

In [ ]:
#Program for replacing one substring by another For example - Rabbit - Replace bb by cc.
string='Rabbit'
a_string=string.replace('bb','cc')
print(a_string)

Raccit

In [ ]:
#Program to Acronym generator for any user input
string=input("enter some string:")
a=string.split()
for i in a:
 print(i[0],end='')

enter some string:Random Access Memory
RAM

In [ ]:
#Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
string="I Love my parents and I respect them."
count_1=0
count_2=0
for i in string:
 if i.isupper():
  count_1+=1
 elif i.islower():
  count_2+=1
else:
 pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

No.of uppercase alphabets are:  3
No.of lowercase alphabets are:  26

In [ ]:
#Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
#Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
sample_List = ['abc', 'xyz', 'aba','1221','india','43']
count=0
for i in Sample_List:
 if len(i)>=2:
  if i[0]==i[len(i)-1]:
   print(i)
 count+=1
print(count)

aba
1221
6