<a href="https://colab.research.google.com/github/VU21CSEN0100182/python-new/blob/module-1/MODULE1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value

In [ ]:
a=300
b=200
c=int(input())
d=int(input())
e=(a)-(b)-(c)-(d)
print(e)

48
78
-26

Use of print statements and use of (.format )for printing different data types

In [ ]:
quantity = 2
itemno = 118
price = 299
myorder = "I want {} pieces of item {} for {} rupees."
print(myorder.format(quantity, itemno, price))

I want 2 pieces of item 118 for 299 rupees.

In [ ]:
quantity = 5
itemno = 827
price = 1059
myorder = "I want to pay {2} rupees for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 1059 rupees for 5 pieces of item 827.

 Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [ ]:
a=(int(input("Enter the numbers")))
b=(int(input("Enter the numbers")))
sum=a+b
print(sum)
sub=a-b
print(sub)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
rem=a%b
print(rem)
print(type(0))

Enter the numbers3
Enter the numbers2
5
1
6
1.5
1
<class 'int'>

In [ ]:
a=70
b=32
sum=a+b
print(sum)
sub=a-b
print(sub)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
rem=a%b
print(rem)
print(type(a))

102
38
2240
2.1875
6
<class 'int'>

Same operations on floating point input as well

In [ ]:
a=9.6
b=4.2
sum=a+b
print(sum)
sub=a-b
print(sub)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
rem=a%b
print(rem)
print(type(a))

13.8
5.3999999999999995
40.32
2.2857142857142856
1.1999999999999993
<class 'float'>

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.621371
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 56
56.00 kilometers is equal to 34.80 miles

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

In [ ]:
import math
my_int=4.5678
print(math.ceil(my_int))
my_int=4.5678
print(math.floor(my_int))
my_int=4.5678
print(math.fabs(my_int))
print(math.fmod(4.5678, 7.8976))
my_int=4.5678
print(math.trunc(my_int))
print(math.pow(4.5678, 7.8976))
my_int=4.5678
print(math.sqrt(my_int))

5
4
4.5678
4.5678
4
162219.3423504213
2.1372412124044398

Building a mathematical calculator that can perform operations according to user input. Use decision making statement

In [ ]:
a=float (input ("enter number "))
b=float (input ("enter a number "))
i=input("enter operation")
if i=="+":
  print (a+b)
elif i=="-":
 print(a-b)
elif i=="%":
 print (axb)
elif i=="*":
 print (a*b)
else:
 print(a/b)

enter number 4
enter a number 5
enter operation*
20.0

Accepting 5 different subject marks from user and displaying the grade of the student

In [ ]:
a=(int(input("Enter 1st subject marks")))
b=(int(input("Enter 2nd subject marks")))
c=(int(input("Enter 3rd subject marks")))
d=(int(input("Enter 4th subject marks")))
e=(int(input("Enter 5th subject marks")))
f=(a+b+c+d+e)/5
if f>90:
  print("grade A")
elif f>90 and f<95:
  print("grade B")
elif f>80 and f<90:
  print("grade C")
elif f>70:
  print("grade D")

Enter 1st subject marks689
Enter 2nd subject marks786
Enter 3rd subject marks896
Enter 4th subject marks678
Enter 5th subject marks86
grade A

decimal

In [ ]:
a=float(input("Enter 1st subject marks"))
b=float(input("Enter 2nd subject marks"))
c=float(input("Enter 3rd subject marks"))
d=float(input("Enter 4th subject marks"))
e=float(input("Enter 5th subject marks"))
f=(a+b+c+d+e)/5
if f>90:
  print("grade A")
elif f>90 and f<95:
  print("grade B")
elif f>80 and f<90:
  print("grade C")
elif f>70:
  print("grade D")

Enter 1st subject marks99.5
Enter 2nd subject marks55.6
Enter 3rd subject marks85.7
Enter 4th subject marks52.7
Enter 5th subject marks99
grade D

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [ ]:
n=int(input ("enter range "))
c=0
for i in range(1,n+1):
 if i%2==0: 
   c+=1
   print(i)

print("even count is ",c)

d=0
for i in range (1,n+1): 
  if i%2!=0:
    d+=1
  print(i)
print("odd count is ",d)

enter range 5
2
4
even count is  2
1
2
3
4
5
odd count is  3

Compute the factorial of a given number

In [ ]:
n=int(input("Enter a number"))
fac=1
for i in range(1,n+1):
   fac=fac*i
   print(fac)

Enter a number5
1
2
6
24
120

Compute GCD of two given
numbers

In [ ]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
k=a if a<b else b
while True:
   if a%k==0 and b%k==0:
      break
      k+=1
print(k)

Enter a number10
Enter a number20
10

Generate Fibonacci series up to N numbers

In [ ]:
num=int(input("Enter a number"))
n1,n2=0,1
print("Fibonacci series:",n1,n2,end=" ")
for i in range(2,num):
   n3=n1+n2
   n1=n2
   n2=n3
   print(n3,end=" ")

Enter a number6
Fibonacci series: 0 1 1 2 3 5

Check whether the given input is

In [ ]:
#palindrome 

def isPalindrome(str):
    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True
s=input("Enter input:")
ans = isPalindrome(s)
if (ans):
    print("Yes")
else:
    print("No")

Enter input:dad
Yes

In [ ]:
#string
for x in "orange":
  print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
#perfect
num=int(input("Enter the number: "))  
sum_v=0  
for i in range(1,num):  
    if (num%i==0):  
        sum_v=sum_v+i  
if(sum_v==num):  
    print("The entered number is a perfect number")  
else:  
    print("The entered number is not a perfect number")

Enter the number: 6
The entered number is a perfect number

Compute compound interest using loop for a certain principal and interest amount

In [ ]:
n=int(input("Enter the principle amount:"))
rate=int(input("Enter the rate:"))
years=int(input("Enter the number of years:"))
for i in range(years):
    n=n+((n*rate)/100)
print(n)

Enter the principle amount:342
Enter the rate:2
Enter the number of years:3
362.933136